@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    margin:0;
}

#map {
    height: 100%;
}

#top-bar{
    position : absolute;
    top : 1%;
    left : 10%;
    width : 80%;
    height : 10%;
    background-color : blue;
}

#layer{
    position : absolute;
    top : 14%;
    left : 1%;
    width : 20%;
    height : 60%;
    background-color : blue;
}

#layer {
    background-color: rgba(255,255,255,0.66);
    /*margin-top: 100px;*/
}

#layer svg rect {
    fill: #FFFFFF;
}

#layer svg rect:hover {
    fill: #76B3E5;
}

#layer svg rect.selected {
    fill: #6699CC;
}

#layer svg text {
    font-family: Helvetica, 'Open Sans', sans-serif;
}

#layer svg text.selected {
    font-family: Helvetica, 'Open Sans', sans-serif;
    color: #FFFFFF;
}

#graphs{
    position : absolute;
    top : 14%;
    right : 1%;
    width : 30%;
    height : 50%;
    background-color : blue;
}

#notifications{
    position : absolute;
    bottom : 1%;
    right: 1%;
    width : 30%;
    height : 30%;
    background-color : blue;
}

#footer{
    position : absolute;
    bottom : 1%;
    left : 1%;
    width : 20%;
    height : 10%;
    background-color : blue;
}