@import url(http://fonts.googleapis.com/css?family=Open+Sans);

g.bar line {
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-opacity: 0.4;
}

g.axis path, g.axis g.tick line {
    fill: none;
    stroke: #444;
}

body{
    margin:0;
}

#map {
    height: 100%;
}

#top-bar{
    position : absolute;
    top : 1%;
    left : 1%;
    width : 67.5%;
    height : 10%;
    /*background-color: rgba(255,255,255,0.66);*/
}

#layer {
    position : absolute;
    top : 30vh;
    width : 9vw;
    height : 40vh;
    background: rgba(255,255,255,0.5);
    /* background-color: none; */
}

#layer g.button rect {
    fill: #FFFFFF;
}

/* #layer svg rect:hover {
    fill: #76B3E5;
} */

#layer svg rect.selected {
    fill: #69c;
    fill-opacity: 0.6;
}

#layer g.button text {
    font-family: Helvetica, 'Open Sans', sans-serif;
    font-size: 2vh;
}

#layer svg text.selected {
    font-family: Helvetica, 'Open Sans', sans-serif;
    color: #FFFFFF;
}

#weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 25vh; */
    /* width: 9vw; */
    background: rgba(255,255,255,0.5);
}

#mapcontrol{
    position : absolute;
    bottom : 10vh;
    width : 9vw;
    height : 9vh;
    background-color: rgba(255,255,255,0.66);
}

#charts {
    background: rgba(255,255,255,0.7);
}

#graphs{
    position : absolute;
    top : 12%;
    right : 1%;
    width : 30%;
    height : 60%;
    /* background: rgba(255,255,255,0.5); */

}

#notifications{
    position : absolute;
    bottom : 7%;
    right: 1%;
    width : 30%;
    height : 20%;
    background-color: rgba(255,255,255,0.66);
}

#toggle{
    position : absolute;
    bottom : 0px;
    left : 0px;
    width : 100%;
    height : 5%;
/*    background-color: rgba(255,255,255,0.66);*/
    width: 100%;
    /*background-color: #333333;*/
}

#toggle svg text {
    fill: #FFFFFF;
    font-family: Helvetica, 'Open Sans', Sans-serif;
    font-weight: lighter;
    font-size: 0.6em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
}

#toggle svg rect {
    fill: rgba(102, 102, 102, 0.65);
}
/*   Map Tile Selection Pane   */

#mapcontrol svg rect.map-preview-tile {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-opacity: 0.65;
}

#mapcontrol svg text {
    font-family: Courier, Serif;
    fill: #FFFF99;
}

#top-bar svg polygon.start-location, #top-bar svg rect.start-location {
    fill: #FFFFFF;
}

#top-bar svg polygon.end-location, #top-bar svg rect.end-location {
    fill: #6699CC;
}

/*     Graph styles     */

#graphs svg text.local-text,  #graphs svg text.chicago-text {
    font-family: 'Open Sans', Sans-serif;
}

#graphs svg text.graph-header {
    font-family: Helvetica, 'Open Sans', Sans-serif;
    font-size: 1.3em;
}

#graphs svg polygon {
    fill: #FFFFFF;
}
